<div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/img/wp8482655-judiciary-wallpapers.jpg" alt="Carousel Image">

             <div class="carousel-caption">
                    <h1 class="animated fadeInLeft">Introduction</h1>
                    <p class="animated fadeInRight"> Streamlining Case Listing with Differentiated Case Flow Management</p>
              
             </div> 
        </div>

        <div class="carousel-item">
            <img src="../../assets/img/carousel-2.jpg" alt="Carousel Image">
            <div class="carousel-caption">
                <h1 class="animated fadeInLeft">The Challenge</h1>
                <p class="animated fadeInRight">Complex Case Management</p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="../../assets/img/carousel-3.jpg" alt="Carousel Image">
            <div class="carousel-caption">
                <h1 class="animated fadeInLeft">Our Solution</h1>
                <p class="animated fadeInRight">Making Your Workflow Seamless</p>
            </div>
        </div>
    </div>

    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- Carousel End -->


<!-- Top Feature Start-->
<!-- <div class="feature-top">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-3 col-sm-6">
                    <div class="feature-item">
                        <i class="far fa-check-circle"></i>
                        <h3>Legal</h3>
                        <p>Govt Approved</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="feature-item">
                        <i class="fa fa-user-tie"></i>
                        <h3>Attorneys</h3>
                        <p>Expert Attorneys</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="feature-item">
                        <i class="far fa-thumbs-up"></i>
                        <h3>Success</h3>
                        <p>99.99% Case Won</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="feature-item">
                        <i class="far fa-handshake"></i>
                        <h3>Support</h3>
                        <p>Quick Support</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
<!-- Top Feature End-->


<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="https://imgnew.outlookindia.com/uploadimage/library/16_9/16_9_5/IMAGE_1683086722.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="section-header">
                    <h2>About the Ministry</h2>
                </div>
                <div class="about-text">
                    <p>
                        Ministry of Law and Justice is the oldest limb of the Government of India dating
                        back to
                        1833 when the Charter Act 1833 enacted by the British Parliament. The said Act
                        vested
                        for the first time legislative power in a single authority, namely the Governor
                        General
                        in Council. By virtue of this authority and the authority vested under him under
                        section
                        22 of the Indian Councils Act 1861 the Governor General in Council enacted laws for
                        the
                        country from 1834 to 1920. After the commencement of the Government of India Act
                        1919
                        the legislative power was exercised by the Indian Legislature constituted
                        thereunder.
                        The Government of India Act 1919 was followed by the Government of India Act 1935.
                        With
                        the passing of the Indian Independence Act 1947 India became a Dominion and the
                        Dominion
                        Legislature made laws from 1947 to 1949 under the provisions of section 100 of the
                        Government of India Act 1935 as adapted by the India (Provisional Constitution)
                        Order
                        1947. Under the Constitution of India which came into force on the 26th January 1950
                        the
                        legislative power is vested in Parliament. </p>

                    <!-- <a class="btn" href="">Learn More</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Service Start -->
<div class="service">
    <div class="container">
        <div class="section-header">
            <h2>Types of Law</h2>
        </div>
        <div class="row">
            <div class="col ">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-landmark"></i>
                    </div>
                    <h3>Civil Law</h3>
                    <p>
                        Governs disputes between individuals or entities regarding rights and
                        responsibilities of Citizens.
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <h3>Family Law</h3>
                    <p>
                        Addresses legal matters related to family relationships, such as divorce and child
                        custody. </p>
                </div>
            </div>
            <div class="col">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-hand-holding-usd"></i>
                    </div>
                    <h3>Business Law</h3>
                    <p>
                        Concerned with legal aspects of commercial activities, contracts, and corporate
                        governance. </p>
                </div>
            </div>
        </div>
        <div class="row">


            <div class="col">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <h3>Education Law</h3>
                    <p>
                        Deals with legal issues in the education sector, including student rights and school
                        regulations. </p>
                </div>
            </div>
            <div class="col">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-gavel"></i>
                    </div>
                    <h3>Criminal Law</h3>
                    <p>
                        Criminal law is a legal framework that defines and regulates behaviors deemed
                        harmful to
                        society.
                </div>
            </div>
            <div class="col">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-globe"></i>
                    </div>
                    <h3>Cyber Law</h3>
                    <p>
                        Includes legal regulations and protections in the digital realm with online
                        activities &
                        cybersecurity. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->


<!-- Feature Start -->
<!-- <div class="feature">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="section-header">
                        <h2>Why Choose Us</h2>
                    </div>
                    <div class="row align-items-center feature-item">
                        <div class="col-5">
                            <div class="feature-icon">
                                <i class="fa fa-gavel"></i>
                            </div>
                        </div>
                        <div class="col-7">
                            <h3>Best law practices</h3>
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate.
                            </p>
                        </div>
                    </div>
                    <div class="row align-items-center feature-item">
                        <div class="col-5">
                            <div class="feature-icon">
                                <i class="fa fa-balance-scale"></i>
                            </div>
                        </div>
                        <div class="col-7">
                            <h3>Efficiency & Trust</h3>
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate.
                            </p>
                        </div>
                    </div>
                    <div class="row align-items-center feature-item">
                        <div class="col-5">
                            <div class="feature-icon">
                                <i class="far fa-smile"></i>
                            </div>
                        </div>
                        <div class="col-7">
                            <h3>Results you deserve</h3>
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="feature-img">
                        <img src="img/feature.jpg" alt="Feature">
                    </div>
                </div>
            </div>
        </div>
    </div> -->



<!-- Team Start -->
<!-- <div class="team">
        <div class="container">
            <div class="section-header">
                <h2>Meet Our Expert Attorneys</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/team-1.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>Adam Phillips</h2>
                            <p>Business Consultant</p>
                            <div class="team-social">
                                <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                                <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/team-2.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>Dylan Adams</h2>
                            <p>Criminal Consultant</p>
                            <div class="team-social">
                                <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                                <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/team-3.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>Gloria Edwards</h2>
                            <p>Divorce Consultant</p>
                            <div class="team-social">
                                <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                                <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/team-4.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>Josh Dunn</h2>
                            <p>Immigration Consultant</p>
                            <div class="team-social">
                                <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                                <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
<!-- Team End -->

<div class="faqs">
    <div class="container">
        <div class="row">
            <div class="col-md-5">

            </div>
            <div class="col-md-7">
                <div class="section-header">
                    <h2>Have A Questions?</h2>
                </div>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseOne"
                                aria-expanded="true">
                                <span>1</span> What we do ?
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse show" data-parent="#accordion">
                            <div class="card-body">
                                Our SMART Algorithms prioritize cases based on their complexity and urgency, and assign
                                them to the most appropriate judge. This ensures that cases are heard by the right judge
                                at the right time, and that judges are able to focus on the most important cases.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                                <span>2</span> What tasks can clerks perform in the DCM system?
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                Clerks have the responsibility of adding cases when all the necessary documents are
                                available. They can also view and assign cases to the most available judge, ensuring
                                that cases are distributed efficiently.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" href="#collapseThree">
                                <span>3</span> How do judges use the DCM system?
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                Judges can use the DCM system to view cases based on their severity. This allows them to
                                prioritize and manage cases effectively, ensuring that urgent matters receive prompt
                                attention.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" href="#collapseFour">
                                <span>4</span> Is the DCM system user-friendly and easy to navigate?
                            </a>
                        </div>
                        <div id="collapseFour" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                Yes, the DCM system is designed with user-friendliness in mind. It offers a
                                straightforward interface for administrators, clerks, and judges, making it easy for
                                them to perform their respective tasks.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FAQs End -->


<!-- Testimonial Start -->
<!-- <div class="testimonial">
        <div class="container">
            <div class="section-header">
                <h2>Review From Client</h2>
            </div>
            <div class="owl-carousel testimonials-carousel">
                <div class="testimonial-item">
                    <i class="fa fa-quote-right"></i>
                    <div class="row align-items-center">
                        <div class="col-3">
                            <img src="img/testimonial-1.jpg" alt="">
                        </div>
                        <div class="col-9">
                            <h2>Client Name</h2>
                            <p>Profession</p>
                        </div>
                        <div class="col-12">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan lacus eget velit
                            </p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item">
                    <i class="fa fa-quote-right"></i>
                    <div class="row align-items-center">
                        <div class="col-3">
                            <img src="img/testimonial-2.jpg" alt="">
                        </div>
                        <div class="col-9">
                            <h2>Client Name</h2>
                            <p>Profession</p>
                        </div>
                        <div class="col-12">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan lacus eget velit
                            </p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item">
                    <i class="fa fa-quote-right"></i>
                    <div class="row align-items-center">
                        <div class="col-3">
                            <img src="img/testimonial-3.jpg" alt="">
                        </div>
                        <div class="col-9">
                            <h2>Client Name</h2>
                            <p>Profession</p>
                        </div>
                        <div class="col-12">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan lacus eget velit
                            </p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item">
                    <i class="fa fa-quote-right"></i>
                    <div class="row align-items-center">
                        <div class="col-3">
                            <img src="img/testimonial-4.jpg" alt="">
                        </div>
                        <div class="col-9">
                            <h2>Client Name</h2>
                            <p>Profession</p>
                        </div>
                        <div class="col-12">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan lacus eget velit
                            </p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item">
                    <i class="fa fa-quote-right"></i>
                    <div class="row align-items-center">
                        <div class="col-3">
                            <img src="img/testimonial-1.jpg" alt="">
                        </div>
                        <div class="col-9">
                            <h2>Client Name</h2>
                            <p>Profession</p>
                        </div>
                        <div class="col-12">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan lacus eget velit
                            </p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item">
                    <i class="fa fa-quote-right"></i>
                    <div class="row align-items-center">
                        <div class="col-3">
                            <img src="img/testimonial-2.jpg" alt="">
                        </div>
                        <div class="col-9">
                            <h2>Client Name</h2>
                            <p>Profession</p>
                        </div>
                        <div class="col-12">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan lacus eget velit
                            </p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item">
                    <i class="fa fa-quote-right"></i>
                    <div class="row align-items-center">
                        <div class="col-3">
                            <img src="img/testimonial-3.jpg" alt="">
                        </div>
                        <div class="col-9">
                            <h2>Client Name</h2>
                            <p>Profession</p>
                        </div>
                        <div class="col-12">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan lacus eget velit
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
<!-- Testimonial End -->


<!-- Blog Start -->
<!-- <div class="blog">
        <div class="container">
            <div class="section-header">
                <h2>Latest From Blog</h2>
            </div>
            <div class="owl-carousel blog-carousel">
                <div class="blog-item">
                    <img src="img/blog-1.jpg" alt="Blog">
                    <h3>Lorem ipsum dolor</h3>
                    <div class="meta">
                        <i class="fa fa-list-alt"></i>
                        <a href="">Civil Law</a>
                        <i class="fa fa-calendar-alt"></i>
                        <p>01-Jan-2045</p>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor
                    </p>
                    <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a>
                </div>
                <div class="blog-item">
                    <img src="img/blog-2.jpg" alt="Blog">
                    <h3>Lorem ipsum dolor</h3>
                    <div class="meta">
                        <i class="fa fa-list-alt"></i>
                        <a href="">Family Law</a>
                        <i class="fa fa-calendar-alt"></i>
                        <p>01-Jan-2045</p>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor
                    </p>
                    <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a>
                </div>
                <div class="blog-item">
                    <img src="img/blog-3.jpg" alt="Blog">
                    <h3>Lorem ipsum dolor</h3>
                    <div class="meta">
                        <i class="fa fa-list-alt"></i>
                        <a href="">Business Law</a>
                        <i class="fa fa-calendar-alt"></i>
                        <p>01-Jan-2045</p>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor
                    </p>
                    <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a>
                </div>
                <div class="blog-item">
                    <img src="img/blog-1.jpg" alt="Blog">
                    <h3>Lorem ipsum dolor</h3>
                    <div class="meta">
                        <i class="fa fa-list-alt"></i>
                        <a href="">Education Law</a>
                        <i class="fa fa-calendar-alt"></i>
                        <p>01-Jan-2045</p>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor
                    </p>
                    <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a>
                </div>
                <div class="blog-item">
                    <img src="img/blog-2.jpg" alt="Blog">
                    <h3>Lorem ipsum dolor</h3>
                    <div class="meta">
                        <i class="fa fa-list-alt"></i>
                        <a href="">Criminal Law</a>
                        <i class="fa fa-calendar-alt"></i>
                        <p>01-Jan-2045</p>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor
                    </p>
                    <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a>
                </div>
                <div class="blog-item">
                    <img src="img/blog-3.jpg" alt="Blog">
                    <h3>Lorem ipsum dolor</h3>
                    <div class="meta">
                        <i class="fa fa-list-alt"></i>
                        <a href="">Cyber Law</a>
                        <i class="fa fa-calendar-alt"></i>
                        <p>01-Jan-2045</p>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor
                    </p>
                    <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a>
                </div>
                <div class="blog-item">
                    <img src="img/blog-1.jpg" alt="Blog">
                    <h3>Lorem ipsum dolor</h3>
                    <div class="meta">
                        <i class="fa fa-list-alt"></i>
                        <a href="">Business Law</a>
                        <i class="fa fa-calendar-alt"></i>
                        <p>01-Jan-2045</p>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor
                    </p>
                    <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div> -->
<!-- Blog End -->


<!-- Newsletter Start -->
<!-- <div class="newsletter">
    <div class="container">
        <div class="section-header">
            <h2>Subscribe Our Newsletter</h2>
        </div>
        <div class="form">
            <input class="form-control" placeholder="Email here">
            <button class="btn">Submit</button>
        </div>
    </div>
</div> -->
<!-- Newsletter End -->



<!-- Footer Start -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="footer-about">
                    <h2>About Us</h2>
                    <p>
                        At Code Conquerors, we are dedicated to revolutionizing the
                        legal landscape by streamlining case management through Differentiated Case Flow
                        Management (DCM).
                        Our cutting-edge DCM
                        system enables judges, court staff, and legal professionals to enforce timelines,
                        reduce
                        delays, and ensure
                        justice is swift and accessible. With a commitment to transparency and efficiency,
                        we
                        aim to redefine the
                        future of case management and contribute to a more equitable legal system.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-8">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="footer-link">
                            <h2>Types Of Law</h2>
                            <a>Civil Law</a>
                            <a>Family Law</a>
                            <a>Business Law</a>
                            <a>Education Law</a>
                            <a>Immigration Law</a>
                        </div>
                    </div>

                    <!-- <div class="col-md-6 col-lg-4">
                        <div class="footer-link">
                            <h2>Useful Pages</h2>
                            <a href="">About Us</a>
                            <a href="">Practices</a>
                            <a href="">Attorneys</a>
                            <a href="">Case Studies</a>
                            <a href="">FAQs</a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="container copyright">
        <div class="row">
            <div class="col-md-6">
                <p>&copy;Code Conquerors, All Right
                    Reserved.</p>
            </div>
            <!-- <div class="col-md-6">
        <p>Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
    </div> -->
        </div>
    </div>
</div>
<!-- Footer End -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>