<div class="row  align-items-center justify-content-center mt-0 m-0">
    <!-- <div class="col-lg-6  "> -->
    <div class="rounded p-5 " style="background: rgba(2, 2, 5, 0.7);">

        <h1 class="text-center  mb-4 " style="color: white;">Login</h1>

        <form #Login="ngForm" (ngSubmit)="getUserLoggedIn(Login.value)" method="post">


            <div class="form-group ">
                <label style="color: white;">Enter your UserID:</label>
                <input type="text" class="form-control " placeholder="User Id" required="required" name="judgeID"
                    ngModel />
            </div>
            <br>
            <div class="form-group ">
                <label style="color: white;">Enter your Password:</label>
                <input type="password" class="form-control " placeholder="Password" required="required" name="password"
                    ngModel />
            </div>


            <div>
                <input class="btn btn-primary btn-block border-0 py-3" type="submit" value="Login" />
            </div>
        </form>
        <style> 
            .form-control:focus{
                background-color: white;
            }
        </style>
    </div>
    <!-- </div> -->
</div>