<!-- Nav Bar Start -->
<div class="nav-bar">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <a href="#" class="navbar-brand">MENU</a>
      <button
        type="button"
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="logo">
        <a>
          <img
            src="../../assets/img/logoofministry.png"
            alt="Logo"
            height="100"
            width="80%"
          />
        </a>
      </div>
      &nbsp;
      <div
        class="collapse navbar-collapse justify-content-between"
        id="navbarCollapse"
      >
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link active">Home</a>
          <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu">
                            <a href="blog.html" class="dropdown-item">Blog Page</a>
                            <a href="single.html" class="dropdown-item">Single Page</a>
                        </div>
                    </div> -->
          <a class="nav-item nav-link">Contact</a>
        </div>
        <div class="ml-auto"  >
          <a class="btn" *ngIf="getLoginState()" (click)="getUserLoggedIn()"
            >Login</a
          >

         
          <a class="btn" *ngIf="isUserLoggedIn||isAdminLoggedIn||isClerkLoggedIn" (click)="getUserLoggedOut()"
            >Log Out as an {{userName}}</a
          >
        </div>
      </div>
    </nav>
  </div>
</div>
