<!-- <app-sidebar></app-sidebar> -->
<main class="h-full">
  <div class="container px-6 mx-auto grid">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
      Dashboard
    </h2>
    <!-- Cards -->
    <table>

      <tr class="m-2 p-3">

        
        <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
          <div *ngIf="isAdminLoggedIn">
            <th>
              <div class="col">
                <div style="width: 20rem;">
                  <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800" id="addClerk">
                    <button mat-raised-button color="primary" style="height: 3rem; width: 25rem"
                    (click)="AddClerkPopUp()">
                    Add Clerk
                  </button>
                </div>
              </div>
            </div>
          </th>
          </div>


          <div *ngIf="isAdminLoggedIn">
            <div class="col">
              <div style="width: 20rem;">
                <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800" id="addClerk">
                  <button mat-raised-button color="primary" style="height: 3rem; width: 25rem"
                    (click)="AddJudgePopUp()">
                    Add Judge
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="isClerkLoggedIn">
            <div class="col">
              <div style="width: 20rem;">
                <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800" id="addClerk">
                  <button mat-raised-button color="primary" style="height: 3rem; width: 25rem"
                    (click)="AddCasesPopup()">
                    Add Cases
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="isAdminLoggedIn">
            
              <div style="width: 20rem;">
                <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800" id="addClerk">
                  <button mat-raised-button color="accent" style="height: 3rem; width: 25rem" (click)="ViewClerks()">
                    {{viewCasesText}}
                  </button>
                </div>
              </div>
          </div>

          
            <div style="width: 20rem;">
              <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                <div class="p-3 mr-4 text-blue-500 bg-blue-100 rounded-full dark:text-blue-100 dark:bg-blue-500">
                  <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd"
                      d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
                      clip-rule="evenodd"></path>
                  </svg>
                </div>
                <div>
                  <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                    Total Cases
                  </p>
                  <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                    {{ casesLength }}
                  </p>
                </div>

              </div>
            </div>
        </div>
      </tr>
    </table>
  </div>


  <!-- Card -->

  <div *ngIf="!isViewClerk">

    <div class="container">
      <div class="ml-4">
      
        <mat-form-field>
          <mat-label>Select Case Type</mat-label>
          <mat-select>
            <mat-option value="Criminal">
              Criminal 
            </mat-option>
            <mat-option value="Civil">
              Civil
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      </div>
    <!-- New Table -->
    <div class="w-full overflow-hidden rounded-lg shadow-xs">
      <div class="w-full overflow-x-auto">
        <table class="w-full whitespace-no-wrap">
          <thead>
            <tr
              class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
              <th class="px-4 py-3">Case No</th>
              <th class="px-4 py-3">First Party</th>
              <th class="px-4 py-3">Second Party</th>
              <th class="px-4 py-3">Section</th>
              <th class="px-4 py-3">Severity</th>
              <th class="px-4 py-3">Case File Date</th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
            <tr class="text-gray-700 dark:text-gray-400" *ngFor="let case of cases">
              <td class="px-4 py-4">
                <p class="font-semibold">{{ case.Caseid }}</p>
              </td>
              <td class="px-4 py-3">
                <div class="flex items-center text-sm">
                  <!-- Avatar with inset shadow -->

                  <div>
                    <p class="font-semibold">{{ case.Firstparty }}</p>
                    <p class="text-xs text-gray-600 dark:text-gray-400">
                      {{ case.Casetype }}
                    </p>
                  </div>
                </div>
              </td>
              <td class="px-4 py-3">
                <p class="font-semibold">
                  {{ case.Secondparty }}
                </p>
              </td>
              <td class="px-4 py-3 text-sm">
                {{ case.Section }}
              </td>
              <td class="px-4 py-3 text-xs">
                <span *ngIf="case.Severity == 'Very High'||case.Severity=='very high'"
                  class="px-2 py-1 font-semibold leading-tight text-orange-700 bg-orange-100 rounded-full dark:text-white dark:bg-orange-600 ">
                  {{ case.Severity }}
                </span>
                <span *ngIf="case.Severity == 'Medium'||case.Severity=='medium'"
                  class="px-2 py-1 font-semibold leading-tight text-yellow-700 bg-yellow-100 rounded-full dark:text-white dark:bg-yellow-600 bg-warning text-dark">
                  {{ case.Severity }}
                </span>
                <span *ngIf="case.Severity == 'Low'||case.Severity=='normal'"
                  class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:text-white dark:bg-green-600 bg-success text-dark">
                  {{ case.Severity }}
                </span>
              </td>
              <td class="px-4 py-3 text-sm">
                {{ case.Casefilingdate }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
      <span class="col-span-2"></span>
      <!-- Pagination -->
      <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
        <nav aria-label="Table navigation">
          <ul class="inline-flex items-center">
            <li>
              <button class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
                aria-label="Previous">
                <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                  <path
                    d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                    clip-rule="evenodd" fill-rule="evenodd"></path>
                </svg>
              </button>
            </li>

            <li>
              <button class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
                aria-label="Next">
                <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                  <path
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd" fill-rule="evenodd"></path>
                </svg>
              </button>
            </li>
          </ul>
        </nav>
      </span>
    </div>
  </div>

  <div *ngIf="isViewClerk">
    <mat-table  [dataSource]="dataSource" class="table">
      <!-- Position Column -->
      <ng-container matColumnDef="judge_id">
        <th mat-header-cell *matHeaderCellDef> Clerk Id</th>
        <td mat-cell *matCellDef="let element"> {{element.judge_id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email</th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>


      <!-- Name Column -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
    <mat-paginator  #paginator  [pageSize]="5" [pageSizeOptions]="[5,10,20]"  showFirstLastButtons></mat-paginator>

  </div>
</main>